h1 {
  background-color: rgb(243, 243, 178);
  text-align: center;
  width: 43%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: left;
}
.bitcount-single-uniquifier {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  padding: 10px;
  margin: 20px;
  border: 0.5cm solid rgb(239, 213, 108);
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
